{% load static %}
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<!-- <script src="{% static 'vendor/php-email-form/validate.js' %}"></script> -->
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

<!-- Page Sense -->
<script src="https://cdn-in.pagesense.io/js/vcodifytechnologiespvtltd/3cef9c16b06143e7a0de60471d0c15e1.js"></script>